<!--우측 콘텐츠 헤더영역 -->
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>게시글 확인 및 수정</h2>
    <ol class="breadcrumb">
      <li><a href="/">Home</a> ></li>
      <li><a>게시글 확인</a> ></li>
      <li class="active">
        <strong>수정/삭제</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>
            <!--우측 콘텐츠 영역 -->
            <form action="/article/modify/<%=article.article_id%>" method="post" id="articleForm">
                <div class="wrapper wrapper-content">
                    <div class="ibox-content m-b-sm border-bottom">
                        <!-- 게시판 유형 -->
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">게시판</label>
                                    <select name="board_type_code" id="board_type_code" class="form-control">
                                        <option value="0"<% if(article.board_type_code == "0"){ %> selected <% } %>>전체</option>
                                        <option value="1"<% if(article.board_type_code == "1"){ %> selected <% } %>>공지게시판</option>
                                        <option value="2"<% if(article.board_type_code == "2"){ %> selected <% } %>>기술블로그</option>
                                    </select>
                                </div>
                            </div>
    
                        </div>
    
                        <!-- 글제목영역 -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">게시글 제목</label>
                                    <input type="text" name="title" id="title" class="form-control" value="<%=article.title%>">
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">게시글 내용</label>
                                    <div class="summernote"></div>
                                    <input type="hidden" id="contents" name="contents" value="<%=article.contents%>"/>
                                </div>
                            </div>
                        </div>
    
    
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">게시글유형</label>
                                    <select name="article_type_code" id="article_type_code" class="form-control">
                                        <option value="0"<% if(article.article_type_code == "0"){ %> selected <% } %>>선택</option>
                                        <option value="1"<% if(article.article_type_code == "1"){ %> selected <% } %>>공지게시판</option>
                                        <option value="2"<% if(article.article_type_code == "2"){ %> selected <% } %>>기술블로그</option>
                                    </select>
                                </div>
                            </div>
    
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">게시여부</label>
                                    <select name="is_display_code" id="is_display_code" class="form-control">
                                        <option value="9"<% if(article.is_display_code == "9"){ %> selected <% } %>>선택</option>
                                        <option value="1"<% if(article.is_display_code == "1"){ %> selected <% } %>>게시함</option>
                                        <option value="0"<% if(article.is_display_code == "0"){ %> selected <% } %>>게시안함</option>
                                    </select>
                                </div>
                            </div>
    
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">수정자명</label>
                                    <input type="text" name="register" id="register" class="form-control" value="<%=article.reg_member_id%>">
                                </div>
                            </div>
    
                        </div>
    
    
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">수정</button>
                            <button type="button" id="btnDelete" class="btn btn-danger">삭제</button>
                            <a href="/article/list" class="btn btn-info">목록</a>
                        </div>
    
                    </div>
                </div>
            </form>
            

<script>
  $(document).ready(function () {
    $('#board_type_code').focus();

    $('.summernote').summernote({
      height: 300, 
      minHeight: 250, 
      maxHeight: 500,
      focus: false,
      lang: 'en-US',
      toolbar: [
        ['style', ['style']],
        ['font', ['fontsize', 'bold', 'underline', 'clear']],
        ['height', ['height']],
        ['color', ['color']],
        ['table', ['table']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['insert', ['picture', 'link', 'video']],
        ['view', ['codeview', 'help']],
      ],
      callbacks: {
        onImageUpload: function (files) {
          for (var i = 0; i < files.length; i++) {
            sendFile(files[i], this);
          }
        },
      },
    });

    let editorHTML = $('#contents').val();
    $('.summernote').summernote('code', editorHTML);
  });

  function sendFile(file, editor) {
    var data = new FormData();

    data.append('file', file);

    $.ajax({
      data: data,
      type: 'POST',
      url: '/api/article/upload',
      cache: false,
      contentType: false,
      processData: false,
      success: function (result) {
        console.log('파일업로드 처리결과: ', result);
        $(editor).summernote('insertImage', result.data.filePath);
      },
    });
  }

  $('#articleForm').submit(function () {
    if ($('#board_type_code').val() == '0') {
      alert('게시판 유형을 선택해주세요.');
      $('#board_type_code').focus();
      return false;
    }

    if ($('#title').val() == '') {
      alert('제목을 입력해주세요.');
      $('#title').focus();
      return false;
    }

    if ($('#article_type_code').val() == '0') {
      alert('게시글 유형을 선택해주세요.');
      $('#article_type_code').focus();
      return false;
    }

    if ($('#is_display_code').val() == '9') {
      alert('게시여부를 선택해주세요.');
      $('#is_display_code').focus();
      return false;
    }

    if ($('#register').val() == '') {
      alert('작성자명을 입력해주세요.');
      $('#register').focus();
      return false;
    }

    var contentsHTML = $('.summernote').summernote('code');

    $('#contents').val(contentsHTML);

    return true;
  });

  $('#btnDelete').click(function () {
    if (confirm('정말로 삭제하시겠습니까?')) {
      location.href = '/article/delete?aid=<%=article.article_id%>';
    } else {
      alert('삭제를 취소했습니다.');
    }
  });
</script>
